#form{
   width: 33%;
   height: auto;
   margin: auto;
   background-color: rgba(14, 13, 13, 0.103);
   padding: 1rem;
   border-radius: .4rem;
   -webkit-border-radius: .4rem;
   -moz-border-radius: .4rem;
   -ms-border-radius: .4rem;
   -o-border-radius: .4rem;
}
#btn{
   display: block;
   width: 100%;
   border: none;
   background-color: blue;
   font-size: 1.3rem;
   color: #fff;
   padding: .3rem 0rem;
   border-radius: .2rem;
   -webkit-border-radius: .2rem;
   -moz-border-radius: .2rem;
   -ms-border-radius: .2rem;
   -o-border-radius: .2rem;
}
#btn:hover{
   background-color: rgba(6, 6, 252, 0.781);
}
.underLogin{
   display: flex;
   justify-content: space-between;
   align-items: center;
}